<div class="main-article-holder">
  <div class="first-article-image">
    <span class="article-triangle"></span>
    <%= image_tag @post.main_photo_link("original"), :alt => 'photo' %>

  </div>

  <div class="article-header <%= cat_col(@post.category_id) %>-f">
    <h1 class="for-articles <%= cat_col(@post.category_id) %>"><span><%= @post.title %></span></h1>
  </div>
  <div class="clear first-caption <%= cat_col(@post.category_id) %>">Caption for the main picture</div>

  
  <% @photos[1..@photos.size].each do |ph| %>
    <div class="clear additional-article-images">
      <%= image_tag ph.photo.url %><br>
    </div>
    <div class="clear first-caption <%= cat_col(@post.category_id) %>">Caption other pictures</div>
  <% end %>
  
  
  <div class="article-content">
    <div class="article-date">Opublikowano: <%= @post.start_date.strftime("%e %B %Y") %></div>
    <p class="article-lead"> <%= @post.lead %></p>
    <p><%= raw @post.description %></p>

    <div class="article-socials"><%= @post.author %></div>

    <!-- tu będą sociale, ale to póżniej -->
    <div class="overlap">
    <div class="share-the-love">
      <table>
        <tr>
          <td class="add-sep" width="100px"><div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div></td>
          <td class="add-sep" width="100px">
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </td>
          <td class="add-sep" width="100px">
          <a data-pin-config="beside" href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=CollegeCity" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a></td>
        </tr>
      </table>
    </div>
    <!-- poniżej moduł miejsca, jezeli jest miejsce przypisane do posta to wyświetlamy tą wizytówke, on ma miec klase yellow -->
    <% if @place.present? %>
      <div class="article-location">
        <h4 class="yellow">Dane miejsca</h4>
        <h2><%= link_to @place.name, single_place_url(@place) %></h2>
        <div class="location-snippet">
          <%= raw @place.description %>
        </div>
        <table width="550px" cellspacing="0" cellpadding="0" style="display: inherit;">
          <tr>
            <td class="location-detail">Adres:</td>
            <td width="60%" class="location-info"><%= "#{@place.street} #{@place.street_no}, #{@place.city}" %></td>
          </tr>
          <tr>
            <td  class="location-detail">Telefon:</td>
            <td  class="location-info"><%= @place.phone %></td>
          </tr>
          <tr>
            <td  class="location-detail">Strona www:</td>
            <td  class="location-info"><%= @place.website %></td>
          </tr>
          <tr>
            <td  class="location-detail">Godziny otwarcia:</td>
            <td  class="location-info">
              <%= raw @place.opening_hours %>
            </td>
          </tr>
          <tr>
            <td width="40%" class="location-detail">Info:</td>
            <td width="60%" class="location-info"><%= @place.info %></td>
          </tr>
          <tr>
            <td width="40%" class="location-detail"></td>
            <td width="60%" class="location-info"><%= link_to "Zobacz na mapie", "" %></td>
          </tr>
        </table>
      </div>
    <% end %>
    </div>
  </div>
  <div class="clearspace"></div>
  
  <div class="<%= cat_col(@post.category_id) %> more-from-us">CollegeCity Poleca!</div>
  <div class="end-post-promo">
    <% @promoted_posts.each do |pp| %>
      <div class="mason w200">
        <div class="w2">
          <a href="<%= single_post_url(pp) %>">
            <span class="fade-hover"></span>
            <span class="<%= cat_col(pp.category_id) %>-ico ico"></span>
            <p class="display-rec"><%= image_tag pp.main_photo_link("original"), :alt => 'photo' %></p>
            <p class="<%= cat_col(pp.category_id) %> m-title-fixed"><%= pp.title %></p>
          </a>
        </div>
        <p class="snippet">
          <%= pp.lead.truncate(110) %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="clearspace"></div>
</div>