<div class="main-article-holder">
  <div class="first-article-image">
    <span class="article-triangle"></span>
    <%= image_tag @post.main_photo_link("original"), :alt => 'photo' %>
    <!-- mati tu wstawiamy główne zdjęcie artykułu (czyli pierwsze) max 530px szerokości, wysokość dowolna -->
  </div>

  <div class="article-header <%= cat_col(@post.category_id) %>-f">
    <h1 class="for-articles <%= cat_col(@post.category_id) %>"><span><%= @post.title %></span></h1>
  </div>
  <div class="clear first-caption <%= cat_col(@post.category_id) %>">Caption for the main picture</div>
  <!-- Tutaj dajemy tytuł pierwszego zdjęcia jeżeli istnieje, jak nie ma to div znika -->
  
  <% @photos[1..@photos.size].each do |ph| %>
    <div class="clear additional-article-images">
      <%= image_tag ph.photo.url %><br>
    </div>
    <div class="clear first-caption <%= cat_col(@post.category_id) %>">Caption other pictures</div>
  <% end %>
  
  <!-- tu dajemy pozostałe zdjęcia i ich tytuł, jeżeli istnieje --> 
  
  <div class="article-content">
    <div class="article-date">Opublikowano: <%= @post.start_date.strftime("%e %B %Y") %></div>
    <p class="article-lead"> <%= @post.lead %></p>
    <p><%= raw @post.description %></p>

    <div class="article-socials"><%= @post.author %></div>

    <!-- tu będą sociale, ale to póżniej -->

    <!-- poniżej moduł miejsca, jezeli jest miejsce przypisane do posta to wyświetlamy tą wizytówke, on ma miec klase yellow -->
    <% if @place.present? %>
      <div class="article-location">
        <h4 class="yellow">Dane miejsca</h4>
        <h2><%= link_to @place.name, single_place_url(@place) %></h2>
        <div class="location-snippet">
          <%= raw @place.description %>
        </div>
        <table width="550px" cellspacing="0" cellpadding="0">
          <tr>
            <td width="40%" class="location-detail">Adres:</td>
            <td width="60%" class="location-info"><%= "#{@place.street} #{@place.street_no}, #{@place.city}" %></td>
          </tr>
          <tr>
            <td width="40%" class="location-detail">Telefon:</td>
            <td width="60%" class="location-info"><%= @place.phone %></td>
          </tr>
          <tr>
            <td width="40%" class="location-detail">Strona www:</td>
            <td width="60%" class="location-info"><%= @place.website %></td>
          </tr>
          <tr>
            <td width="40%" class="location-detail">Godziny otwarcia:</td>
            <td width="60%" class="location-info">
              <%= raw @place.opening_hours %>
            </td>
          </tr>
          <tr>
            <td width="40%" class="location-detail">Info:</td>
            <td width="60%" class="location-info"><%= @place.info %></td>
          </tr>
          <tr>
            <td width="40%" class="location-detail"></td>
            <td width="60%" class="location-info"><%= link_to "Zobacz na mapie", "" %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  <div class="clearspace"></div>
  
  <!-- slider polecane, zawsze mają ten sam rozmiar w200, losujemy z ktorej kategorii pokazujemy 4 artykuły -->
  <div class="<%= cat_col(@post.category_id) %> more-from-us">CollegeCity Poleca!</div>
  <% @promoted_posts.each do |pp| %>
    <div class="mason w200">
      <div class="w2">
        <a href="<%= single_post_url(pp) %>">
          <span class="fade-hover"></span>
          <span class="<%= cat_col(pp.category_id) %>-ico ico"></span>
          <p class="display-rec"><%= image_tag pp.main_photo_link("original"), :alt => 'photo' %></p>
          <p class="<%= cat_col(pp.category_id) %> m-title-fixed"><%= pp.title %></p>
        </a>
      </div>
      <p class="snippet">
        <%= pp.lead.truncate(110) %>
      </p>
    </div>
  <% end %>
  <div class="clearspace"></div>
</div>





<% if false %>
  <% 4.times do %>      
    <div class="mason w200">
      <div class="w2">
        <a href="/single_art">
          <span class="fade-hover"></span>
          <span class="blue-ico ico"></span>
          <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/487412_531660170183336_643351316_n.jpg" alt="image" />
          <p class="blue m-title">Magical worlds now in theaters</p>
        </a>
      </div>
      <p class="snippet">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis
      </p>
    </div>
  <% end %>



<h1>FrontPosts#show</h1>
<p>Find me in app/views/front_posts/show.html.erb</p>

<% @photos.each do |ph| %>
<%= image_tag ph.photo.medium.url %><br>
<% end %>
<br>
<br>
<br>
Tytuł: <%= @post.title %><br>
Data publikacji: <%= @post.start_date %><br>
Lead: <%= @post.lead %><br>
Treść: <%= raw @post.description %><br>
<br>
<br>
<br>
Polecane artykuły:
<div>
  Tu bedzie slider promowanych:<br>
  <% @promoted_posts.each do |pp| %>
  promowany artykuł, id: <%= pp.id %><br>
  <% end %>
</div>
<% end %>