<h1 class="general">Edytuj Profil</h1>
<div class="box900th">
  <%= devise_error_messages! %>

  <div class="profile-box adjecent">
    <h5>Dostosuj CollegeCity do twoich wymagań</h5>
    <p class="why-join">Zaznacz to co Cię najbardziej interesuje lub wpisz tagi a my przefiltrujemy stronę tak aby zawsze pokazywała Tobie najświeższe informacje z tego co Cię interesuje - czy coś w ten deseń ja tekstów nie będę pisać bo ja nie żem stąd.</p>
    
    <label>Dopisz tagi:</label><br>
    <input type="text" class="user-tags" /> <a href="#" onclick="create_tags(); return false;"> Dodaj >> </a>
    <script type="text/javascript">

      $('.user-tags').bind('keypress', function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
          create_tags(this);
        };
      });

      function create_tags() {
        var tags_string = $('.user-tags').val();
        var tags_array = tags_string.split(", ");
        $.each(tags_array, function(index,value){
          add_tag( value );
        });
        $('.user-tags').val('');
      };

      function add_tag(tag_val) {
        var currInd = findLastIndex(".user_tag_inp") + 1;
        $('.added-user-tags').append("<span class='tagger'><span class='tag-tip'></span>"+tag_val+"<a href='' class='tag-x' onclick='remove_tag(this, "+currInd+"); return false;'></a></span>");
        $('.user_tags').append("<input type='text' name='user_tags[]' value='"+tag_val+"' readonly='readonly' class='user_tag_inp' rel='"+currInd+"' style='display:none;'>");
      };

      function remove_tag(this_obj, this_index) {
        $(this_obj).parent('span').remove();
        $('[rel="'+this_index+'"]').remove();
      };

      function findLastIndex( els_indicator ) {        
        indexes_array = [];
        var els = $( els_indicator );
        if (els.length > 0) {
          els.each(function(){
            val = Number( $(this).attr('rel') );
            indexes_array.push(val);
          });
          var last_index = ( Math.max.apply(Math, indexes_array) );
        } else {
          var last_index = 0; 
        }; 
        return last_index
      };
    </script>



    <div class="added-user-tags">
      <% resource.tags.each_with_index do |t, i| %>
        <span class='tagger'>
          <span class='tag-tip'></span>
          <%= t %>
          <a href='' class='tag-x' onclick='remove_tag(this, <%= i %>); return false;'></a>
        </span>        
      <% end %>
            
              <% if false %>
              <span class="tagger">
                <span class="tag-tip"></span>
                tag
                <a href="" class="tag-x"></a>
              </span>
              
              <span class="tagger">
                <span class="tag-tip"></span>
                tag numer2
                <a href="" class="tag-x"></a>
              </span>
              
              <span class="tagger">
                <span class="tag-tip"></span>
                Awesomeness
                <a href="" class="tag-x"></a>
              </span>
              
              <span class="tagger">
                <span class="tag-tip"></span>
                College
                <a href="" class="tag-x"></a>
              </span>
              
              <span class="tagger">
                <span class="tag-tip"></span>
                BlackJack & Hookers
                <a href="" class="tag-x"></a>
              </span>
              
              <span class="tagger">
                <span class="tag-tip"></span>
                Family Guy
                <a href="" class="tag-x"></a>
              </span>
              <% end %>
    </div>
    <br>

    <h5>Ogóle działy serwisu</h5>  
    <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tag-selector">
      <% @general_prefs.each_with_index do |gp, i1| %>
        <tr>
          <% gp.each_with_index do |p, i2| %>
            <td width="25%" class="<%= 'selected_p' if resource.preferences.include?(p) %>">
              <a href="#" onclick="mark_as_selected(this, <%= p.id %>); return false;">
                <%= image_tag p.image.thumb.url, :alt => p.name %>
              </a>
            </td>  
          <% end %>
        </tr>
      <% end %>
    </table>

    
    Tutaj jest zdefiniowany czerwony background<br>
    <style type="text/css">
      .selected_p { background-color: red; }
    </style>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.hidden_field :email %>
      <div class="user_tags">
        <% resource.tags.each_with_index do |t, i| %>
          <input type='text' name='user_tags[]' value='<%= t %>' readonly='readonly' class='user_tag_inp' rel='<%= i %>' style='display:none;'>
        <% end %>
      </div>
      <div class="selected_prefs">
        <% resource.preferences.each do |p| %>
          <input type='text' name='pref_tags[]' value='<%= p.id %>' readonly='readonly' class='inp<%= p.id %>' style='display:none;'>
        <% end %>
      </div>
      <%= f.submit "Zapisz preferencje" %>
    <% end %>
    
    <script type="text/javascript">
      function mark_as_selected(this_el, this_id) {
        var this_par = $(this_el).parent('td')
        if ( this_par.hasClass('selected_p') ) {
          this_par.removeClass('selected_p');
          remove_input(this_id);          
        } else {
          this_par.addClass('selected_p');
          add_input(this_id);
        };
      };


      function add_input(pref_id) {
        var inp_content = prepare_input(pref_id);
        $('.selected_prefs').append( inp_content );
      };

      function remove_input(pref_id) {
        $('.inp'+pref_id).remove();
      };

      function prepare_input(pref_id) {
        var inp = "<input type='text' name='pref_tags[]' value='"+pref_id+"' readonly='readonly' class='inp"+pref_id+"' style='display:none;'>";
        return inp;
      };
    </script>

  </div>


  <div class="sign-box adjecent">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div class="user-avatar">
        <%= image_tag resource.image.medium_fit.url, :alt => resource.email %>
      </div>
      <br>
      <div>
        <label for='image'>Nowy avatar</label><br />
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <br>

      <div>
        E-mail<br>
        <%= resource.email %><br>
      </div>
      <br>
      
      <div>
        <%= f.label :nick, "Nazwa użytkownika" %><br />
        <%= f.text_field :nick %>
      </div>

      <div>
        <%= f.label :name, "Imię" %><br />
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :surname, "Imię" %><br />
        <%= f.text_field :surname %>
      </div>

      <div><%= f.submit "Zaktualizuj" %></div>
    <% end %>

    <br /><br /><br />

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div>
        <%= f.label :password, "Nowe hasło" %><br />
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "Potwórz nowe hasło" %><br />
        <%= f.password_field :password_confirmation, :autocomplete => "off" %>
      </div>

      <div>
        <%= f.label :current_password, "Aktualne hasło" %><br />
        <%= f.password_field :current_password, :autocomplete => "off" %>
      </div>

      <div><%= f.submit "Zmień hasło" %></div>
    <% end %>
  </div>

  <div class="clear"></div>
</div>

