<h1 class="general">Dołącz do CollegeCity!</h1>
<div class="box700th">
	<div class="sign-box adjecent">
		<p class="why-join">Dołącz do najlepszego studenckiego portalu w Krakowie! i bądź zawsze na bierząco!</p>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.label :email %><br />
		  <%= f.email_field :email %>

		  <%= f.label :password, "Hasło" %><br />
		  <%= f.password_field :password %>

		  <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
		  <%= f.password_field :password_confirmation %>

		  <p align="center"><%= f.submit "Zarejestruj się" %></p>
		<% end %>

		<p class="top-dashed"><%= render "devise/shared/links" %></p>
	</div>

	<div class="face-box adjecent">
		<%= link_to "Zaloguj się przez Facebook", "", :class => "fb-login-btn" %>
	</div>

	<div class="clear"></div>

</div>
