
  <h1>Panel Administacyjny</h1>
  <%= form_tag admin_enter_url do %>
  
  <%= label_tag "login:" %>
  <%= text_field_tag :login %><br>
  
  <%= label_tag "password:" %>
  <%= password_field_tag :password %><br>
  
  <%= submit_tag "Zaloguj się" %><br>
  <% end %>

