<footer>
  <ul class="foot part1">
    <p class="foot-title">Sitemap</p>
      <li class="orange-foot"><%= link_to "Rozrywka", category_url('rozrywka') %></li>
      <li class="green-foot"><%= link_to "Kultura", category_url('kultura') %></li>
      <li class="blue-foot"><%= link_to "Studia", category_url('studia') %></li>
      <li class="pink-foot"><%= link_to "Lifestyle", category_url('lifestyle') %></li>
      <li class="yellow-foot"><%= link_to "Miejsca", front_places_url %></li>
      <li class="white-foot"><%= link_to "Kalendarz", calendar_path %></li>
  </ul>
  <ul class="foot part2">
    <p class="foot-title">Top tagi</p>
    <li class="blue-foot"><%= link_to "Coke live festival", "" %></li>
    <li class="pink-foot"><%= link_to "Moaburger", "" %></li>
    <li class="blue-foot"><%= link_to "AGH", "" %></li>
    <li  class="pink-foot"><%= link_to "What to wear", "" %></li>
    <li class="green-foot"><%= link_to "Maraton UEK", "" %></li>
    <li class="orange-foot"><%= link_to "Frytki", "" %></li>
  </ul>
  <ul class="foot part3">
    <p class="foot-title">Top newsy</p>
    <li class="green-foot"><%= link_to "Studenckie stypendia, co zrobic by je zdobyc?", "" %></li>
    <li  class="pink-foot"><%= link_to "Bieg UEK - zapisy", "" %></li>
    <li class="orange-foot"><%= link_to "West Coast PARTY", "" %></li>
    <li class="orange-foot"><%= link_to "College fashion 2013", "" %></li>
    <li class="green-foot"><%= link_to "Need for speed most wanted 2012", "" %></li>
    <li class="blue-foot"><%= link_to "Świeta nadchodzą", "" %></li>
  </ul>
  <ul class="foot part4">
    <p class="foot-title">CollegeCity</p>
    <li><%= link_to "O nas", "" %></li>
    <li><%= link_to "Zasady i regulamin", "" %></li>
    <li><%= link_to "Kontakt", contact_url %></li>
    <p class="foot-title">Lets socialize</p>
  </ul>
</footer>