<footer>
  <ul class="foot part1">
    <p class="foot-title">Sitemap</p>
      <li class="orange-foot"><%= link_to "Rozrywka", "" %></li>
      <li class="green-foot"><%= link_to "Kultura", "" %></li>
      <li class="blue-foot"><%= link_to "Studia", "" %></li>
      <li class="pink-foot"><%= link_to "Lifestyle", "" %></li>
      <li class="yellow-foot"><%= link_to "Miejsca", "" %></li>
      <li class="white-foot"><%= link_to "Kalendarz", "" %></li>
  </ul>
  <ul class="foot part2">
    <p class="foot-title">Top tagi</p>
    <li><%= link_to "Coke live festival", "" %></li>
    <li><%= link_to "Moaburger", "" %></li>
    <li><%= link_to "AGH", "" %></li>
    <li><%= link_to "What to wear", "" %></li>
    <li><%= link_to "Maraton UEK", "" %></li>
    <li><%= link_to "Frytki", "" %></li>
  </ul>
  <ul class="foot part3">
    <p class="foot-title">Top newsy</p>
    <li><%= link_to "First link", "" %></li>
    <li><%= link_to "First link", "" %></li>
    <li><%= link_to "First link", "" %></li>
    <li><%= link_to "First link", "" %></li>
    <li><%= link_to "First link", "" %></li>
    <li><%= link_to "First link", "" %></li>
  </ul>
  <ul class="foot part4">
    <p class="foot-title">CollegeCity</p>
    <li><%= link_to "O nas", "" %></li>
    <li><%= link_to "Zasady i regulamin", "" %></li>
    <li><%= link_to "Kontakt", "" %></li>
    <p class="foot-title">Lets socialize</p>
  </ul>
</footer>