<footer>
  <ul class="foot part1">
    <p class="foot-title">Sitemap</p>
      <li class="orange-foot"><%= link_to "Rozrywka", category_url('rozrywka') %></li>
      <li class="green-foot"><%= link_to "Kultura", category_url('kultura') %></li>
      <li class="blue-foot"><%= link_to "Studia", category_url('studia') %></li>
      <li class="pink-foot"><%= link_to "Lifestyle", category_url('lifestyle') %></li>
      <li class="yellow-foot"><%= link_to "Miejsca", front_places_url %></li>
      <li class="white-foot"><%= link_to "Kalendarz", calendar_path %></li>
  </ul>
  
  <ul class="foot part2">
    <p class="foot-title">Top tagi</p>
    <% @tags = Post.tag_counts_on(:tags).order("count DESC").limit(6) %>  
    <% @tags.each do |t| %>
      <li class="blue-foot"><%= link_to t.name, search_url(:keyword => t.name) %></li>  
    <% end %>
  </ul>

  <ul class="foot part3">
    <p class="foot-title">Top newsy</p>
    <% @news = Post.order("id DESC").limit(6) %>
    <% @news.each do |p| %>
      <li class="<%= cat_col(p.category_id) %>-foot"><%= link_to p.title, single_post_url(p) %></li>
    <% end %>
  </ul>

  <ul class="foot part4">
    <p class="foot-title">CollegeCity</p>
    <li><%= link_to "O nas", about_path %></li>
    <li><%= link_to "Zasady i regulamin", terms_path %></li>
    <li><%= link_to "Kontakt", contact_url %></li>
    <p class="foot-title">Lets socialize</p>
  </ul>
</footer>