<footer>
  <ul class="foot part1">
    <p class="foot-title">Sitemap</p>
    <li><%= link_to "First link", "" %></li>
  </ul>
  <ul class="foot part2">
    <p class="foot-title">Top tagi</p>
    <li><%= link_to "First link", "" %></li>
  </ul>
  <ul class="foot part3">
    <p class="foot-title">Top newsy</p>
    <li><%= link_to "First link", "" %></li>
  </ul>
  <ul class="foot part4">
    <p class="foot-title">CollegeCity</p>
    <li><%= link_to "O nas", "" %></li>
    <li><%= link_to "Zasady i regulamin", "" %></li>
    <li><%= link_to "Kontakt", "" %></li>
    <p class="foot-title">Lets socialize</p>
  </ul>
</footer>