<div>
	Tu bedzie slider promowanych:<br>
	<% @promoted_posts.each do |pp| %>
		promowany artykuł, id: <%= pp.id %><br>
	<% end %>
</div>
	

<div class="mason-holder">
	<% @posts.each do |p| %>
		<div class="mason w<%= p.category_id %>00">
			<div class="w<%= p.category_id %>">
				<a href="<%= single_post_url(p) %>">
				<span class="fade-hover"></span>
				<span class="<%= cat_col(p.category_id) %>-ico ico"></span>
					<%= image_tag p.main_photo_link("medium") %>
					<p class="<%= cat_col(p.category_id) %> m-title"><%= p.title %></p>
				</a>
			</div>
			<p class="snippet">
				<%= p.lead %>
			</p>
		</div>			
	<% end %>


	<!-- wzorcowe artykuly -->
	<div class="mason w400">
		<div class="w4">
			<a href="/single_art">
			<span class="fade-hover"></span>
			<span class="pink-ico ico"></span>
				<img src="http://fc09.deviantart.net/fs70/i/2012/257/e/d/nir_universe_005_by_albino_z-d5ephso.jpg" alt="image" />
				<p class="pink m-title">Magical worlds now in theaters</p>
			</a>
		</div>
		<p class="snippet">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis
		</p>
	</div>

	<div class="mason w300">
		<div class="w3">
			<a href="/single_art">
			<span class="fade-hover"></span>
			<span class="green-ico ico"></span>
				<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-snc7/582688_526965257319494_1207161023_n.jpg" alt="image" />
				<p class="green m-title">Magical worlds now in theaters</p>
			</a>
		</div>
		<p class="snippet">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis
		</p>
	</div>
  
	<div class="mason w200">
		<div class="w2">
			<a href="/single_art">
			<span class="fade-hover"></span>
			<span class="blue-ico ico"></span>
				<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/487412_531660170183336_643351316_n.jpg" alt="image" />
				<p class="blue m-title">Magical worlds now in theaters</p>
			</a>
		</div>
		<p class="snippet">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis
		</p>
	</div>
	<!-- koniec - swzorcowe artykuly -->
			
</div><!-- close mason holder -->
