<div>
	Tu bedzie slider promowanych:<br>
	<% @promoted_posts.each do |pp| %>
		promowany artykuł, id: <%= pp.id %><br>
	<% end %>
</div>
	

<div class="mason-holder">
	<% @posts.each do |p| %>
		<% b_size = box_size(p) %>
		<div class="mason w<%= b_size %>00">
			<div class="w<%= b_size %>">
            <!-- w300 i w3 są sprzężone razem. To są ropzmiary boxów. czyli jak w300 to w3, w200 to w2, w400 to w4 -->
            <!-- w sumie to wystarczy tylko tą pierwszą liczbe podmienić -->
				<a href="<%= single_post_url(p) %>">
				<span class="fade-hover"></span>
				<span class="<%= cat_col(p.category_id) %>-ico ico"></span>
					<%= image_tag p.main_photo_link("original") %>
					<p class="<%= cat_col(p.category_id) %> m-title"><%= p.title %></p>
				</a>
			</div>
			<p class="snippet">
				<%= p.lead.truncate(120) %>
			</p>
		</div>			
	<% end %>	
</div><!-- close mason holder -->
