<div>
	<div id="slides">
    <div class="slides_container">
      <% @promoted_posts.each do |pp| %>
      <div>	          
          <div class="slider-content">
          <a href="<%= single_post_url(pp) %>">
            <span class="slide-cut"></span>
            <%= image_tag pp.main_photo_link("main"), :alt => 'photo' %>
            <p class="slide-article <%= cat_col(pp.category_id) %>">
              <span class="slide-caption <%= cat_col(pp.category_id) %>"><%= pp.title %></span>
              <span class="clear slide-lead"><%= pp.lead %></span>
            </p>
          </a> 
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(function(){
      $("#slides").slides({
        effect: 'fade',
        paginationClass: 'slide-page',
        play: 5000
      });
  });
</script>


<div class="mason-holder post_box">
  <%= render 'shared/post_box' %>
</div>


<script type="text/javascript" src="http://www.beyondcoding.com/demos/endless-scroll/js/jquery.endless-scroll-1.3.js"></script>
<script type="text/javascript" charset="utf-8">
  function loadMore(pageNr) {
    $.ajax({
      format: 'JS',
      type: "POST",
      url: '<%= load_more_posts_url %>',
      data: { page: pageNr,
              category: "<%= params[:category] %>" }
    }).done(function() {
      $('.places_loading').hide();      
    });
  }

  var currentPage = 1;
  $(document).ready(function(){
    $(document).endlessScroll({
      bottomPixels: 450,
      fireDelay: 10,
      callback: function(p){
        currentPage += 1;
        loadMore(currentPage);
      }
    });
  });
</script>
