<div>
	<div id="slides">
    <div class="slides_container">
      <% @promoted_posts.each do |pp| %>
      <div>	          
          <div class="slider-content">
          <a href="<%= single_post_url(pp) %>">
            <span class="slide-cut"></span>
            <%= image_tag pp.main_photo_link("main"), :alt => 'photo' %>
            <p class="slide-article">
              <span class="slide-caption <%= cat_col(pp.category_id) %>"><%= pp.title %></span>
              <span class="clear slide-lead"><%= pp.lead %></span>
            </p>
          </a> 
          </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
<script>
  $(function(){
      $("#slides").slides({
        effect: 'fade',
        paginationClass: 'slide-page'
      });
  });
</script>

<div class="mason-holder">
	<% @posts.each do |p| %>
		<% b_size = box_size(p) %>
		<div class="mason w<%= b_size %>00">
			<div class="w<%= b_size %>">
				<a href="<%= single_post_url(p) %>">
				<span class="fade-hover"></span>
				<span class="<%= cat_col(p.category_id) %>-ico ico"></span>
					<%= image_tag p.main_photo_link("list") %>
					<p class="<%= cat_col(p.category_id) %> m-title"><%= p.title %></p>
				</a>
			</div>
			<p class="snippet">
				<%= p.lead.truncate(120) %>
			</p>
		</div>			
	<% end %>	
</div>
