<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Tytuł" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Kategoria" %><br />
    <%= f.select :category_id, options_for_select( MAIN_CATEGORIES.collect{ |c| [c[:name], c[:id]] }, @post.category_id ) %>
  </div>
  <div class="field">
    <%= f.label :place_id, "Miejsce" %><br />
    <%= f.select  :place_id, 
                  options_for_select( Place.all.collect{|p| ["#{p.id} - #{truncate(p.name, :length => 20)}", p.id]}, @post.place_id ), 
                  :include_blank => "------ brak ------" %>
  </div>
  <div class="field">
    <%= f.label :size, "Wielkość" %><br />
    <%= f.select :size, options_for_select( [["losowy", 0],["mały", 1],["średni", 2],["duży", 3]], @post.size ) %>
  </div>
  <div class="field">
    <%= f.label :promoted, "Promowany?" %><br />
    <%= f.text_field :promoted %><br>
    ( im wyższa wartość tym wyższy priorytet )
  </div>
  <div class="field">
    <%= f.label :lead, "Opis" %><br />
    <%= f.text_area :lead %>
  </div>
  <div class="field">
    <%= f.label :description, "Treść" %><br />
    <%= f.cktext_area :description, :input_html => {:rows => 5}, :toolbar => 'Full' %>
  </div>
  <div class="field">
    <%= f.label :author, "Autor" %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>

  <%= f.fields_for :photos do |builder| %>
    <%= render "photo_fields", :f => builder %>
  <% end %>
  <p class = "add-picture" ><%= link_to_add_fields "Dodaj zdjęcie", f, :photos %></p>

  <div class="actions">
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>
