<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Tytuł" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Kategoria" %><br />
    <%= f.select :category_id, options_for_select( MAIN_CATEGORIES.collect{ |c| [c[:name], c[:id]] } ) %>
  </div>
  <div class="field">
    <%= f.label :promoted, "Promowany?" %><br />
    <%= f.text_field :promoted %><br>
    ( im wyższa wartość tym wyższy priorytet )
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.cktext_area :description, :input_html => {:rows => 5}, :toolbar => 'Full' %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>

  <%= f.fields_for :photos do |builder| %>
    <%= render "photo_fields", :f => builder %>
  <% end %>
  <p class = "add-picture" ><%= link_to_add_fields "Dodaj zdjęcie", f, :photos %></p>

  <div class="actions">
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>
