<h3>Artykuły</h3>

<table>
  <tr>
    <th width="15%">Zdjęcie</th>
    <th width='45%' >Tytuł</th>
    <th width='15%' >Kategoria</th>
    <th width='15%' >Start</th>
    <th width='15%' >Utworzony</th>
    <th width='15%' >Promowany?</th>
    <th width="10%">Opcje</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= (image_tag post.photos.first.photo.thumb.url) if post.photos.present? %></td>
    <td style="vertical-align: top;"><strong><%= post.title %></strong><br>
      <%= strip_tags(post.description).truncate(200) if post.description.present? %>
    </td>
    <td><%= display_category(post.category_id) if post.category_id.present? %></td>
    <td><%= post.start_date.strftime("%d.%m.%Y") %><br><%= post.start_date.strftime("%H:%M") %></td>
    <td><%= post.created_at.strftime("%d.%m.%Y") %><br><%= post.created_at.strftime("%H:%M") %></td>
    <td><%= post.promoted.present? && post.promoted > 0 ? "Tak: #{post.promoted}" : "Nie" %></td>
    <td><%= link_to '', edit_post_path(post), :class => "ico edit" %>
    <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico remove" %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nowy artykuł', new_post_path %>
