<h3>Artykuły <%= link_to 'Nowy artykuł', new_post_path,:class => "mini main-btn" %>
</h3>

<table>
  <tr>
    <th width='2%'>Id</th>
    <th width='5%'>Zdjęcie</th>
    <th width='5%' >Kategoria</th>
    <th width='40%' >Tytuł</th>
    <th width='12%' >Data publikacji /<br> Start wydarzenia</th>
    <th width='12%' >Miejsce</th>
    <th width='8%' >Promowany? /<br> Wielkość</th>
    <th width='12%' >Utworzony</th>
    <th width='8%'>Opcje</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.id %></td>
    <td><%= (image_tag post.photos.first.photo.thumb.url) if post.photos.present? %></td>
    <td>
      <%= display_category(post.category_id) if post.category_id.present? %>
    </td>
    <td style="vertical-align: top;"><strong><%= post.title %></strong><br>
      <%= post.lead.truncate(200) %>
    </td>
    <td>
      <%= post.start_date.strftime("%d.%m.%Y") %> - <%= post.start_date.strftime("%H:%M") %><br>
      <% if post.is_event? %>
        <%= post.event_start.strftime("%d.%m.%Y") %> - <%= post.event_start.strftime("%H:%M") %>
      <% else %>
        -- brak --
      <% end %>
    </td>    
    <td>
      <% place = post.place %>
      <% if place.present? %>
        <%= link_to edit_place_url(place) do %>      
          Id: <%= place.id %><br>
          <%= truncate( place.name ) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= post.promoted.present? && post.promoted > 0 ? "Tak: #{post.promoted}" : "Nie" %><br>
      <%= display_post_size(post.size) %>
    </td>
    <td><%= post.created_at.strftime("%d.%m.%Y") %> - <%= post.created_at.strftime("%H:%M") %></td>
    <td><%= link_to '', edit_post_path(post), :class => "ico edit" %>
    <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico remove" %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nowy artykuł', new_post_path,:class => "mini main-btn" %>
