<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :category_id, "Kategoria" %>
    <%= f.select :category_id, options_for_select( MAIN_CATEGORIES.collect{ |c| [c[:name], c[:id]] }, @place.category_id ) %>
  </div>
  <div class="field">
    <%= f.label :name, "Nazwa" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image, "Grafika" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <% if @place.image.present? %>
      <%= image_tag @place.image.thumb.url %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :city, "Miasto" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street, "Ulica" %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :street_no, "Nr. budynku" %><br />
    <%= f.text_field :street_no %>
  </div>
  <div class="field">
    <%= f.label :zip_code, "Kod pocztowy" %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :detect_coords, "Wykryj współrzędne" %><br />
    <%= f.check_box :detect_coords, {:onclick => "$('.coords').toggle();"} %>
  </div>
  <div class="coords" style="<%= 'display:none;' if @place.detect_coords == true %>">
    <div class="field">
      <%= f.label :latitude, "Długość geograficzna" %><br />
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude, "Szerokość geograficzna" %><br />
      <%= f.text_field :longitude %>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, "Opis" %><br />
    <%= f.cktext_area :description, :input_html => {:rows => 5}, :toolbar => 'Full' %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefon" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website, "Strona" %><br />
    <%= f.text_field :website %><br>
    (np. http://www.onet.pl)
  </div>
  <div class="field">
    <%= f.label :opening_hours, "Godziny otwarcia" %><br />
    <%= f.cktext_area :opening_hours, :toolbar => 'Basic'  %>
  </div>
  <div class="field">
    <%= f.label :info, "Info" %><br />
    <%= f.text_field :info %>
  </div>

  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
