<h1>Listing places</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th>Nazwa</th>
    <th>Miasto</th>
    <th>Ulica</th>
    <th>Nr.</th>
    <th>Kod</th>
    <th></th>
    <th></th>
  </tr>

<%= will_paginate @places %>
<br>
<% @places.each do |place| %>
  <tr>
    <td><%= place.id %></td>
    <td>
      <% if place.image.present? %>
        <%= image_tag place.image.thumb.url %>
      <% end %>
    </td>
    <td><%= place.name %></td>
    <td><%= place.city %></td>
    <td><%= place.street %></td>
    <td><%= place.street_no %></td>
    <td><%= place.zip_code %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>
<%= will_paginate @places %>
<br>

<%= link_to 'New Place', new_place_path %>
