<!DOCTYPE html>
<html>
  <head>
    <title>Panel administracyjny CollegeCity</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Caption:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'jquery-ui.js' %>
    <%= csrf_meta_tags %>

    <%# javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <% if false %>
    <script type="text/javascript">
      tinyMCE.init({
        mode : "textareas",
        editor_selector : "mceEditor",
        plugins: "media",
        media_strict: false 
      });
    </script>
    <% end %>

    <%= yield :javascript %>
  </head>
  <body>
    
    <% if alert.present? %>
      <div class="flash-error message" id="error"><%= alert %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-error").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    <% if notice.present?  %>
      <div class="flash-notice message" id="notice"><%= notice %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-notice").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    
    <div class="main-wrapper">
      <header><h1>Panel Administracyjny</h1>
      </header>
      
      
      <nav class="breadcrumbs">
	<div style="min-width: 290px; float: left;">
    
    <strong><%= link_to "Wróć do serwisu", root_url, :target => "_blank" %></strong>
      <strong><%= link_to "wyloguj", admin_logout_url %></strong>
    
	</div>
	      </nav>
      <div class="admin-content">
	<aside class="main-nav">
	  
	  <ul>
      <li><%= link_to "Artykuły", "" %> </li>
      <li><%= link_to "Kalendarz", "" %> </li>
      <li><%= link_to "Miejsca", "" %> </li>
	    <li><%= link_to "Użytkownicy", "" %> </li>
	  </ul>
	  
	</aside>	
	
	<div class="page-content">
	  <%= yield %>
	</div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
