<!DOCTYPE html>
<html>
  <head>
    <title>Panel administracyjny CollegeCity</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Caption:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'jquery-ui.js' %>
    <%= csrf_meta_tags %>

    <%# javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <% if false %>
    <script type="text/javascript">
      tinyMCE.init({
        mode : "textareas",
        editor_selector : "mceEditor",
        plugins: "media",
        media_strict: false 
      });
    </script>
    <% end %>

    <%= yield :javascript %>
  </head>
  <body>
    
    <% if alert.present? %>
      <div class="flash-error message" id="error"><%= alert %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-error").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    <% if notice.present?  %>
      <div class="flash-notice message" id="notice"><%= notice %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-notice").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    
    <div class="main-wrapper">
      <header><%= link_to image_tag('panel-logo.png'), admin_path %>
        <h1>Panel Administracyjny</h1>
      </header>
      
      
      <nav class="breadcrumbs">
	<div class="user-area" >
    
    <strong>Witaj!</strong> Admin
      
    
	</div>
      <span class="unstyled-nav">Na skróty:</span> 
      <%= link_to "Nowy artykuł", "" %> 
      <%= link_to "Nowe wydarzenie", "" %> 
      <%= link_to "Dodaj miejsce", "" %> 
	      </nav>
      <div class="admin-content">
	<aside class="main-nav">
	  
	  <ul>
      <li><%= link_to "Artykuły", "" %><span class="left-selected"></span></li>
      <li><%= link_to "Kalendarz", "" %> </li>
      <li><%= link_to "Miejsca", "" %> </li>
      <li><%= link_to "Użytkownicy", "" %> </li>
      <li><%= link_to "Wygląd", example_form_path %> </li>
	    <li><%= link_to "Wyloguj", admin_logout_url %> </li>
	  </ul>
	  
	</aside>	
	
	<div class="page-content">
	  <%= yield %>
	</div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
