<!DOCTYPE html>
<html>
  <head>
    <title>Panel administracyjny CollegeCity</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Istok+Web&subset=latin,latin-ext" %>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'jquery-ui.js', 'application_jquery.js' %>
    <%= csrf_meta_tags %>

    <%# javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <% if false %>
    <script type="text/javascript">
      tinyMCE.init({
        mode : "textareas",
        editor_selector : "mceEditor",
        plugins: "media",
        media_strict: false 
      });
    </script>
    <% end %>

    <%= yield :javascript %>
  </head>
  <body>
    
    <% if alert.present? %>
      <div class="flash-error message" id="error"><span><%= t('error') %></span><br><%= alert %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-error").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    <% if notice.present?  %>
      <div class="flash-notice message" id="notice"><span><%= t('success') %></span><br><%= notice %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-notice").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    
    <div class="main-wrapper">
      <header><h1>Panel Administracyjny</h1>
      </header>
      
      
      <nav class="breadcrumbs">
	<div style="min-width: 290px; float: left;">
	</div>
	      </nav>
      <div class="admin-content">
	<aside class="main-nav">
	  
	  <ul>
	    <li><%= link_to "Wróć do serwisu", root_path %> </li>
	  </ul>
	  
	</aside>	
	
	<div class="page-content">
	  <%= yield %>
	</div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
